<h3>Mailbox</h3>
<div class="conversations">
  <div class="users">
    <% @conversations.each do |conversation| %>
      <div class="user">
        <div class="ui list">
          <div class="item">
            <% if conversation.sender_id == current_user.id ||
                conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <%= image_tag (recipient.photo), class: "img" %>
              <%= link_to recipient.first_name,   conversation_messages_path(conversation)%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="messages">
    <% @conversations.each do |conversation| %>
      <div class="message">
        <div class="ui segment">
          <% conversation.messages.each do |message| %>
            <div class="header">
              <strong>
                <%= message.user.first_name %>
              </strong>
              <%= message.message_time %>
            </div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <%= form_for [conversation, Message.new], html: {class: "ui reply form"} do |f| %>
            <div class="field">
              <%= f.text_area :body, class: "form-control" %>
            </div>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
            <div>
              <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="ui segment">
 <h3>All Users</h3>
  <div class="ui list">
   <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <div class="item">
   <%= user.first_name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
 </div>
  <% end %>
 <% end %>
 </div>
</div>
