<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <!-- if card is an item card -->
    <% unless order_div %>
      <h2><%= item.title %></h2>
      <p><%= item.description %></p>
      <p>user: <%= item.user_id %> (remove for prod)</p>
    <!-- if card is an order card -->
    <% else %>
      <h2>Item: <%= order.item_id %></h2>
      <p>User: <%= user.email %></p>
      <p>Status: <%= order.state %></p>
      <p>Amount: <%= humanized_money_with_symbol(order.amount) %></p>
    <% end %>
  </div>
</div>
