<% item = Item.find(@order.item_id) %>
<%= form_tag order_payments_path(@order) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

  <article>
    <label>
      <span><strong>Please note that unsuccessful reservations will be refunded</strong></span>
      <p></p>
      <span><strong>Deposit amount: </strong><%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Item"
    data-email="<%= current_user.email %>"
    data-description="The item is  <%= @order.item_id %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>
<% end %>

