<!-- app/views/orders/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="form-post">
          <h1>Order information</h1>
          <ul style="list-style: none;">
            <% item = Item.find(@order.item_id) %>
            <% user = User.find(@order.user_id) %>
            <li><p><strong>Request status:</strong> <%= @order.state %></p></li>
            <li><p><strong>Item:</strong> <%= item.title %></p></li>
            <li><p><strong>Requested by:</strong> <%= user.first_name %> <%= user.last_name %> (<%= user.email %>)</p></li>
            <li>
              <p>
                <% if @order.start_time != nil %>
                  <strong>Dates requested: </strong> <%= @order.start_time.to_s(:rfc822)[5..15] %> - <%= @order.end_time.to_s(:rfc822)[5..15] %>
                <% else %>
                  <strong>Next steps: </strong>Once the item owner accepts the order please arrange a convenient collection time
                <% end %>
              </p>
            </li>
            <br>
            <% if (@order.amount_cents != 0) && (@order.state == 'pending') %>
              <%= render 'payment' %>
            <% end %>
            <br>
              <% if current_user == item.user_id %>
                <%= link_to "Edit this order", edit_order_path, class: 'btn btn-primary' %>
              <br>
               <%= link_to "Delete this order", order_path(@order),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>
              <br>
              <% end %>
              <%= link_to "Back to user home page", user_show_path, class: 'btn btn-primary' %>
          <ul>
      </div>
    </div>
  </div>
</div>
