<div id="how-it-works">
  <div class="about-steps">
    <span class="sub-title">How StreetShare works</span>
    <p class="sub-content">Streetshare is an app we have developed to help people save money and foster community spirit.</p>

    <div class="steps">
      <div id="step1" class="step">
        <%= image_tag "about11.png", class: "img-about-left" %>
        <span>Give to others</span>
        <p>Give things away you no longer need.
        Share household items and your community will appreciate it. StreetShare finds friends and neighbors who need them.</p>
      </div>
      <div id="step2" class="step separators">
        <%= image_tag "about22.png", class: "img-about-middle" %>
        <span>Find what you need</span>
        <p>Explore the thousands of products, clothes, books, bikes and more that are being given away for free or just to be borrowed for a period of time on StreetShare </p>
      </div>
      <div id="step3" class="step">
        <%= image_tag "streetshare2.png", class: "img-about-right" %>
        <span>Pick up your things</span>
        <p>After ordering the items, only you have to do is to collect your items and use them. Once the owner confirms that you have returned the item, you'll get your deposit back</p>
      </div>
    </div>
  </div>
</div>

<h2 style="margin: 26px 0px;">Latest items added</h2>
<div class="cards">
  <% @items.each do |item| %>
  <%= render "shared/grid-cards", item: item %>
  <% end %>
</div>
<div class="buttom-button">
  <%= link_to "See all items", items_path, class: "btn btn-gradient" %>
</div>
