<h1>User view </h1>
<p>id = <%= @user.id %></p>
<p>email = <%= @user.email %></p>
<ul>
  <% @user_items.each do |item| %>
    <li class="item-li"><%= link_to item.title, item_path(item) %> - <%= item.user_id %>
      <span>
        <button type="button" class="btn btn-info btn-sm item-btn">
          <%= link_to "Edit item", edit_item_path(item) %>
        </button>
        <button type="button" class="btn btn-danger btn-sm item-btn">
          <%= link_to "Delete", item_path(item),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        </button></span>
    </li>
  <% end %>
</ul>
