<h1>Hi <%= @user.first_name %></h1>
<br />
<!-- <h2 class="user-items">Here is a list of your items:</h2> -->
<%#= render partial: "shared/plus_minus" %>
<div id="user-toggle">
  <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
  <label for="toggle-on" class="user-toggle-btn user-home ss-active">My Home</label>
  <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
  <label for="toggle-off" class="user-toggle-btn user-lend">Orders</label>
</div>

<div id="item-display-div">

  <div id="user-borrowing-div">
    <div class="item-flex-list user-display-toggle">
      <ul>
        <li class="user-display user-items-btn lgt-green ss-active"><strong>My Items</strong></li>
        <li class="user-display user-orders-btn"> <strong>My Requests</strong> </li>
      </ul>
    </div>

    <div class="user-item-container user-items">
      <h6>Your items:</h6>
      <div class="cards">
        <% @user_items.each do |item| %>
          <div class="card">
            <%= render 'shared/card', item: item, item_var: item, order_div: false %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- <h2 class="user-orders user-item-parent">Here is the list of items you have requested or borrowed:</h2> -->
    <%#= render partial: "shared/plus_minus" %>
    <div class="hide user-item-container user-orders">
      <%#= month_calendar events: @user.orders do |date, orders| %>
        <%#= date %>
          <%# orders.each do |order| %>
        <!-- <div> -->
          <%#= order.item.title %>
         <!-- </div> -->
          <%# end %>
      <%# end %>
      <h6>Items you've booked:</h6>
      <div class="cards">
        <% @user_orders.each do |order| %>
          <% if order.state != "rejected" %>
            <div class="card">
              <%= render 'shared/card', order: order, user: order.item.user, item_var: order.item, order_div: true %>
              <%= button_to "Cancel", order_path(order, order: {state: "rejected"}), method: :put, class: "btn btn-sm delete-btn item-btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- <h2 class="user-orders user-item-parent">Here is your current list of requested items. Please approve or reject these requests.</h2> -->
  <%#= render partial: "shared/plus_minus" %>
  <div id="user-lending-div" class="hide">
    <div class="item-flex-list user-display-toggle">
      <ul>
        <li class="user-display other-user-requests-btn ss-active lgt-green"> <strong>Orders awaiting approval</strong> </li>
        <li class="user-display other-user-reservations-btn"> <strong>Orders you've approved</strong> </li>
      </ul>
    </div>

    <div class="user-item-container other-user-requests">
      <!-- <h2>Items of yours that have been requested:</h2> -->
      <div class="cards">
        <% @my_orders.each do |order| %>
            <% if (order.state === 'pending' || order.state === 'paid') %>
              <div class="card">
                <%= render 'shared/card', order: order, user: order.user, item_var: order.item, order_div: true %>
                <%= button_to "Accept", order_path(order, order: {state: "accepted"}), method: :put, class: "btn btn-sm edit-btn item-btn" %>
                <%= button_to "Reject", order_path(order, order: {state: "rejected"}), method: :put, class: "btn btn-sm delete-btn item-btn" %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="hide user-item-container other-user-reservations">
      <!-- <h2>Items of yours that have been booked/cancelled:</h2> -->
      <div class="cards">
      <% @my_orders.each do |order| %>
        <% if (order.state === "accepted")%>
            <div class="card">
              <%= render 'shared/card', order: order, user: order.user, item_var: order.item, order_div: true %>
              <%= button_to "Cancel", order_path(order, order: {state: "rejected"}), method: :put, class: "btn btn-sm delete-btn item-btn" %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>



