<!-- <div class= "page-grid">
  <div class="card-grid">
    <%# @items.each do |item| %>
      <div class="cards">
        <figure>
          <%#= cl_image_tag item.photo %>
        </figure>
              <div class="card-product-infos">
                <h5 class="title-index"><%#= link_to item.title, item_path(item) %></h5>
                <%#= item.description %>
        </div>
      </div>
    <%# end %>
  </div>
</div> -->

<!-- div class="spacer">
    &nbsp;
</div> -->


<div style="display: flex; justify-content: space-around;">
  <div class="cards index-cards">
    <% @items_paginator.each do |item| %>
      <%= render "shared/grid-cards", item: item %>
    <% end %>
    <%= paginate @items_paginator %>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>


<%= javascript_pack_tag "map-padding" %>
