<div class="container">
<div class="item-container-top">
  <%= link_to "< Back to items list", items_path,class: "links_text_pages" %>
  <br>
  <h4 class="text-inline h1_text_pages"><%= @item.title %></h4>
  <div class="top-info">
    <% unless current_user.nil? %>
      <% if @item.user_id == current_user.id %>
        <%= link_to "Edit item", edit_item_path %> |
        <%= link_to "Delete item", item_path(@item),
         method: :delete,
         data: { confirm: "Are you sure?" } %>
       <% end %>
     <% end %>
  </div>

  <div class="photo-calendar">
    <div class="left-container">
      <%= cl_image_tag @item.photo, height: 500, width: 500 %>
      <div class="description-container">
        <p class="links_text_pages_p"><%= @item.address %></p>
        <h4>Description</h4>
        <p><%= @item.description %></p>
        <% if humanized_money(@item.price).to_i == 0 %>
          <p>Item is free to collect once the owner has accepted your reservation</p>
        <% elsif %>
          <p>Deposit required: £<%= humanized_money(@item.price) %></p>
        <% end %>
      </div>
    </div>
    <div class="right-container">
        <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    </div>
  </div>


  <hr>
</div>

<% unless @item.user == current_user %>
  <% if humanized_money(@item.price).to_i == 0 %>
    <%= simple_form_for @order do |f| %>
      <%= f.input :item_id, as: :hidden, input_html: { value: @item.id } %>
      <%= submit_tag 'Reserve Item with owner', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= simple_form_for @order do |f| %>
    <p><strong>How long would you like to borrow the item for?</strong></p>
    <%= f.input :item_id, as: :hidden, input_html: { value: @item.id } %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= submit_tag 'Reserve item & pay deposit', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>

  <hr>
  <br>
  <% unless current_user.nil? %>
    <% unless @item.user_id == current_user.id %>
      <div class="container" id="item-review-list">
       <h3 class ="h1_text_pages">Reviews</h3>
         <% @item.reviews.each do |review| %>
           <div class="review-title">
             <div class="review-title">
               <%= review.title %>
             </div>
           </div>
           <div class="review-container">
             <div class="review-rating">
               <%= review.rating %>
             </div>
             <div class="review-body d-flex align-items-center">
               "<%= review.body %>"
             </div>
           </div>
         <% end %>
      </div>
      <div class="container container-review">
       <div class="row">
         <div class="col-sm-4 h1_text_pages form-post">
           <h4>Add a review for the item</h4>
           <%= simple_form_for [@item, @review], remote: true do |f| %>
             <%= f.input :title, label: 'Please add your title and name' %>
             <%= f.input :body, label: 'Please add your review' %>
             <p>Rating</p>
             <%= f.collection_radio_buttons :rating, [['1', '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
             <p></p>
             <%= f.submit "Submit review", class: 'btn btn-primary' %>
           <% end %>
         </div>
       </div>
      </div>
    <% end %>
  <% end %>
</div>


