<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <%= favicon_link_tag %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Street Share - The app for giving away and lending items in your local neighbourhood</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:600&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="site">
      <% if @home %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>

      <%= render 'shared/flashes' %>
      <div class="main-content">
        <%= yield %>
      </div>

      <% if @home %>
        <div class="footer">
          <%= render 'shared/footer' %>
        </div>
      <% end %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
